@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body, h3 {
    font-family: 'Raleway', sans-serif;
    color: #261C1C;
    text-align: center;
}

h1, h2, #nav-links {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    color: #261C1C;
}

/* Navigation bar */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #261C1C;
}

#nav-logo {
    font-size: 150%;
    letter-spacing: 2px;
    margin-left: 30px;
    max-width: 100vw;
}

#nav-logo h1 {
    color: #D9C8BF;
}

#nav-links {
    font-size: 130%;
    letter-spacing: 2px;
    color: #D9C8BF;
    display: flex;
    max-width: 100vw;
    margin-right: 10px;
}

#nav-links li {
    list-style-type: none;
    padding: 0 0 0 15px;
}

#nav-links, #logo {
    line-height: 75px;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border-bottom: 1px solid #D9C8BF;
    color: inherit;
}

#current-page {
    border: 2px solid #D9C8BF;
    padding: 4px 6px;
}

/* Hero image and title */

.hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text {
    position: absolute;
    top: 250px;
    right: 20px;
    padding: 25px;
    background-color: rgba(52, 49, 68, 0.7);
    max-width: 350px;
}

#hero-text h2 {
    color: #D9C8BF;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image3.jpg');
    background-size: cover;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

	/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* join-us section */

.join-us {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top right, #D9C8BF, #D99177);
}

#join-us-image {
    display: flex;
}

#join-us-image img {
    border-radius: 150px;
}

#watch, #perform {
    height: 150px;
    width: 300px;
    border: 1px solid #261C1C;
    padding: 20px;
    margin: 40px;
    text-align: center;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* the next event section */

#the-next-event h2 {
    text-align: center;
    padding: 20px;
    color: #D9C8BF;
}
#join-intro-text {
    margin: 0 150px 40px 150px;
    text-align: center;
}

#the-next-event {
    background-color: #735448cb;
    background-image: url(../images/hero-image2.jpg);
    background-blend-mode: multiply;
    padding: 20px 20px 200px 20px;
    background-size: cover;
    color: #D9C8BF;
}

#next-event-info {
    display: flex;
    justify-content: space-around;
    
}

#when-and-where, #open-numbers {
    border: 1px solid #D9C8BF;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* map */

#map {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top right, #D9C8BF, #D99177);
}

#map iframe {
    margin: 10px;
}

/* footer */

#social-icons {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #261C1C;
}

#social-icons a {
    font-size: 150%;
    color: #D9C8BF;
}

/* house band */

#house-band {
    background-image: linear-gradient(to top right, #D9C8BF, #D99177);
    color: #261C1C;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

#band-title {
    text-align: center;
    padding: 10px 0;
    font-size: 200%;
}

.member-title {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-size: 150%;
}

.member a {
    text-decoration: none;
}

/* not working yet? */
.member a:hover {
    border-bottom: 1px solid #261C1C;
}

.member {
    padding: 10px;
    display: flex;
    align-items: center;
}

.member p {
    text-align: justify;
}

.member-odd {
    flex-direction: row-reverse;
}

.member-picture {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.member-info {
    padding: 10px 20px;
}

.member-info h4 {
    padding: 5px 0;
}

.member-info a:hover {
    border-bottom: 1px solid #261C1C;
}

/* contact */

#form-section { 
    background: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 80vh;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: rgba(38, 28, 28, 0.6);
    max-width: 410px;
    padding: 30px;
    margin: 50px 0;
    height: 600px
}

.form-question {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#instrument-question {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

form h2 {
    color: #D9C8BF;
}

form {
    color: #D9C8BF;
}

#instrument-options {
    display: flex;
    flex-wrap: wrap;
}

label {
    padding: 6px;
}

#fname,#lname, #email, #song {
    width: 100%;
    height: 2em;
    border: 2px solid #D9C8BF;
    background: transparent;
    color: #D9C8BF;
}

textarea {
    width: 100%;
    height: 6em;
    border: 2px solid #D9C8BF;
    background: transparent;
    color: #D9C8BF;
}

#message {
    height: 6em;
}

#submit {
    height: 2.5em;
    width: 9em;
    align-self: center;
    background-color: #8C2034;
    border: 1px solid #D9C8BF;
    color: #D9C8BF;
    margin-top: 12px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

/* media queries for tablets and phones */

@media screen and (max-width: 810px) {
    
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    #nav-logo {
        margin-left: 5px;
    }

    .join-us{
        flex-direction: column;
    }

    #join-us-image {
        order: 1;
        padding-top: 5px;
    }
    #watch, #perform {
        border: none;
        padding: 5px;
        margin: 0;
    }

    #join-intro-text {
        margin: 0 20px 40px 20px;
    }

    #next-event-info {
        flex-direction: column;
    }

    #the-next-event {
        padding: 20px 20px 40px 20px;
    }

    #when-and-where, #open-numbers {
        border: none;
        padding: 0;
    }

    .member {
        flex-direction: column;
    }

    .member-info {
        width: 80vw;
    }
}