@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1, h2, h3, #nav-links {
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
}

/* Navigation bar */

.nav-bar {
    background-color: red;
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    background-color: yellow;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-links {
    background-color: green;
    font-size: 130%;
    display: flex;
}

#nav-links li {
    background-color: blueviolet;
    list-style-type: none;
    padding: 0 30px;
}

#nav-links, #logo {
    line-height: 75px;
}

/* Hero image and title */

.hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-text {
    color:antiquewhite;
    position: absolute;
    top: 250px;
    right: 150px;
    padding: 25px;
    background-color: rgba(52, 49, 68, 0.7);
    border-radius: 15px;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center right;

}

